<!doctype html>
<html>
    <head>
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>

		<link rel="stylesheet" href="static/css/login_style.css" type="text/css">
    </head>
    <body>
		<form action="/login" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Login</h1>
					</div>

					<div class="login-form">
						<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username" id="login-name">
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password" id="login-pass">
						<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

						<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
						{% if data %}
							<p class="message-error">{{data.message}}</p>
						{% endif %}
						<br>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>